body {
    padding: 0;
    height: 100vh;
    display: flex;
    margin: 0  auto;
    align-items: center;
    justify-content: center;
}

button {
  background-color: #4CAF50; /* Warna latar belakang hijau */
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color: white;
  border: none;
}

.alert {
  display: none;
  background-color: #f44336; /* Warna latar belakang merah */
  color: white; /* Warna teks */
  padding: 15px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  border-radius: 5px;
}
